body {
    color: #f7eadc;
}

#header {
    color: #eb765d;
}

#bar  {
    color: #eb765d;
}

#blueBar{
    background-color: #75b5be;
} 

.attribution { font-size: 11px; text-align: center; }


.attribution a { color: hsl(228, 45%, 44%); }

.container {
    width: 33.3%;
    background-color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
